
 <section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>{{ 'Portfolio.works' | translate1}}</p>
    </div>




      <div class="row">
          <div class="col-md-6" >
            <div class="card card-blog">
              <div class="card-img">
                <a href="https://ia2team.web.app/" target="_blank"><img src="assets/img/work/ai2team.JPG" alt="" class="img-fluid" ></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">{{ 'Portfolio.dev' | translate1}}</h6>
                  </div>
                </div>
                <h2 class="card-title"><a href="https://ia2team.web.app/" target="_blank"><strong>{{ 'Portfolio.folio1' | translate1}}</strong></a></h2>
                <p class="card-description">
                  {{ 'Portfolio.folio1Desc' | translate1}}
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="https://ia2team.web.app/" target="_blank">
                    <!-- <img src="" alt="" class="avatar rounded-circle"> -->
                    <span  class="avatar rounded-circle" ><i class="bi bi-rocket"  style="color: rgb(238, 20, 20);"></i></span>
                    <span class="author">  {{ 'Portfolio.demo' | translate1}}</span>
                  </a>
                </div>
                <div class="post-date">
                  <a href="https://github.com/nabilChemkhi/ia2Website" target="_blank">
                  <!-- <span class="bi bi-clock"></span> 10 min -->
                  <span class="fa-brands fa-git-alt"  style="color: rgb(238, 20, 20);"></span><span class="author">  Github</span>
                </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-blog">
              <div class="card-img">
                <a href="https://lg-group.web.app/" target="_blank"><img src="assets/img/work/lgg.JPG" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">{{ 'Portfolio.dev' | translate1}}</h6>
                  </div>
                </div>
                <h2 class="card-title"><a href="https://lg-group.web.app/" target="_blank"><strong>{{ 'Portfolio.folio2' | translate1}}</strong></a></h2>
                <p class="card-description">
                  {{ 'Portfolio.folio2Desc' | translate1}}
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="https://lg-group.web.app/" target="_blank">
                    <!-- <img src="" alt="" class="avatar rounded-circle"> -->
                    <span  class="avatar rounded-circle"><i class="bi bi-rocket" style="color: rgb(238, 20, 20);"></i></span>
                    <span class="author" >  {{ 'Portfolio.demo' | translate1}}</span>
                  </a>
                </div>
                <div class="post-date">
                  <a href="https://github.com/nabilChemkhi/lg-groupe" target="_blank">
                  <!-- <span class="bi bi-clock"></span> 10 min -->
                  <span class="fa-brands fa-git-alt" style="color: rgb(238, 20, 20);"></span><span class="author">  Github</span>
                </a>
                </div>
              </div>
            </div>
          </div>

        </div>



    </div>



</section>End Portfolio Section
