
<header id="header">
  <div class="container">

    <h1><a >Nabil Chemkhi</a></h1>

    <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
    <!-- <h2>{{ 'WELCOME_TITLE1' | translate }} <span class="typed" [attr.data-typed-items]="getTypedItems()"></span> {{ 'WELCOME_TITLE3' | translate }}</h2> -->

    <!-- <h2>{{ 'WELCOME_TITLE1' | translate }} <span  class="typed" ></span>{{ 'WELCOME_TITLE3' | translate }}</h2> -->
    <!-- <h2 *ngIf="!loadingTranslations">
      {{ 'WELCOME_TITLE1' | translate }} <span class="typed" ></span>{{ 'WELCOME_TITLE3' | translate }}
    </h2>
    <p *ngIf="loadingTranslations">Loading translations...</p> -->


    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link active" href="#header">{{ 'HOME' | translate }}</a></li>
        <li><a class="nav-link" href="#about">{{ 'ABOUT' | translate }}</a></li>
        <li><a class="nav-link" href="#resume">{{ 'RESUME' | translate }}</a></li>
        <li><a class="nav-link" href="#services">{{ 'SERVICES' | translate }}</a></li>
        <!-- <li><a class="nav-link" href="#portfolio">Portfolio</a></li> -->
        <li><a class="nav-link" href="#contact">{{ 'CONTACT' | translate }}</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="social-links">
      <a href="https://www.linkedin.com/in/nabil-chemkhi/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a href="https://www.facebook.com/chemkhinabil/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://github.com/nabilChemkhi" class="github" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://wa.me/+21624336629" class="whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>
      <a href="skype:live:.cid.27f4ad9769befa69" class="skype" target="_blank"><i class="bi bi-skype"></i></a>
      <a href="https://www.instagram.com/libanchemkhi/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://twitter.com/chemkhinabil" class="twitter-x" target="_blank"><i class="bi bi-twitter-x"></i></a>


    </div>

  </div>


</header>

