<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p>{{ 'Serv.ServTitle' | translate }}</p>
    </div>

    <div class="row">
      <!-- Custom Services -->
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-file-earmark-code"></i></div>
          <h4><a href="">{{ 'Serv.Serv1Title' | translate }}</a></h4>
          <p>{{ 'Serv.Serv1Desc' | translate }}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-gear"></i></div>
          <h4><a href="">{{ 'Serv.Serv2Title' | translate }}</a></h4>
          <p>{{ 'Serv.Serv2Desc' | translate }}</p>        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-pc-display-horizontal"></i></div>
          <h4><a href="">{{ 'Serv.Serv3Title' | translate }}</a></h4>
          <p>{{ 'Serv.Serv3Desc' | translate }}</p>        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-phone"></i></div>
          <h4><a href="">{{ 'Serv.Serv4Title' | translate }}</a></h4>
          <p>{{ 'Serv.Serv4Desc' | translate }}</p>        </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-rocket"></i></div>
            <h4><a href="">{{ 'Serv.Serv5Title' | translate }}</a></h4>
            <p>{{ 'Serv.Serv5Desc' | translate }}</p>          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-tools"></i></div>
            <h4><a href="">{{ 'Serv.Serv6Title' | translate }}</a></h4>
            <p>{{ 'Serv.Serv6Desc' | translate }}</p>          </div>
        </div>

    </div>

  </div>
</section><!-- End Services Section -->
