
<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>{{ 'Resume.Resume' | translate }}</h2>
      <p>{{ 'Resume.Resume2' | translate }}</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">{{ 'Resume.Resume3' | translate }}</h3>
        <div class="resume-item pb-0">
          <h4>{{ 'Resume.Resume4' | translate }}</h4>
          <p><em>{{ 'Resume.desc' | translate }}</em></p>

          <ul>
            <li>{{ 'Resume.adr' | translate }}</li>
            <li>{{ 'Resume.phn' | translate }}</li>
            <li>{{ 'Resume.mail' | translate }}</li>
          </ul>

        </div>

        <h3 class="resume-title">{{ 'Education.Education' | translate }}</h3>
        <div class="resume-item">
          <h4>{{ 'Education.Education1' | translate }}</h4>
          <h5>2020 - 2022</h5>
          <p><em>{{ 'Education.Education11' | translate }}</em></p>

          <p> {{ 'Education.Education111' | translate }}</p>
          <p> <a href="https://esprit.tn/"  target="_blank" class="sitelink">{{ 'Education.WebSite' | translate }}</a></p>

        </div>
        <div class="resume-item">
          <h4>{{ 'Education.Education2' | translate }}</h4>
          <h5>2012 - 2015</h5>
          <p><em>{{ 'Education.Education22' | translate }}</em></p>
          <p>{{ 'Education.Education222' | translate }}</p>
          <p><a href="https://enit.rnu.tn/"  target="_blank" class="sitelink">{{ 'Education.WebSite' | translate }}</a></p>
        </div>
        <div class="resume-item">
          <h4>{{ 'Education.Education3' | translate }}</h4>
          <h5>2010 - 2012</h5>
          <p><em>{{ 'Education.Education33' | translate }}</em></p>
          <p>{{ 'Education.Education333' | translate }}</p>
          <p><a href="https://ipein.rnu.tn/"  target="_blank" class="sitelink">{{ 'Education.WebSite' | translate }}</a></p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">{{ 'Exp.Exp' | translate }}</h3>
        <div class="resume-item">
          <h4>{{ 'Exp.Exp1' | translate }}</h4>
          <p><em>{{ 'Exp.Exp11' | translate }} </em></p>
          <h5>Jan.2022 - Jul.2022</h5>
          <p><em><a href="https://www.gdcollect-data.fr/"  target="_blank" class="sitelink">
          {{ 'Exp.Exp111' | translate }}</a>
          {{ 'Exp.Exp1111' | translate }}
        </em></p>

          <ul>
            <li><strong>{{ 'Exp.Exp1Titel' | translate }}</strong>{{ 'Exp.Exp1SubTitel' | translate }}</li>
            <li>{{ 'Exp.Exp1Desc2' | translate }}</li>
            <li>{{ 'Exp.Exp1Desc2' | translate }}</li>
            <li><strong>{{ 'Exp.Technologies' | translate }}</strong>{{ 'Exp.Exp1Techs' | translate }}</li>
          </ul>

        </div>
        <div class="resume-item">
          <h4>{{ 'Exp.Exp2' | translate }}</h4>
          <p><em>{{ 'Exp.Exp22' | translate }} </em></p>
          <h5>Jul.2021 - Sep.2021</h5>
          <p><em><a href="https://www.xtensus.com/"  target="_blank" class="sitelink">
          {{ 'Exp.Exp222' | translate }}</a>
          {{ 'Exp.Exp2222' | translate }}
        </em></p>

        <ul>
          <li><strong>{{ 'Exp.Exp2Titel' | translate }}</strong>{{ 'Exp.Exp2SubTitel' | translate }}</li>
          <li>{{ 'Exp.Exp2Desc1' | translate }} </li>
          <li>{{ 'Exp.Exp2Desc2' | translate }}</li>
          <li><strong>{{ 'Exp.Technologies' | translate }}</strong>{{ 'Exp.Exp2Techs' | translate }}</li>
        </ul>

        </div>
      </div>
    </div>

  </div>
</section>
