<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>{{ "Resume.Resume" | translate1 }}</h2>
      <p>{{ "Resume.Resume2" | translate1 }}</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">{{ "Resume.Resume3" | translate1 }}</h3>
        <div class="resume-item pb-0">
          <h4>{{ "Resume.Resume4" | translate1 }}</h4>
          <p>
            <em>{{ "Resume.desc" | translate1 }}</em>
          </p>
          <ul>
            <li>{{ "Resume.adr" | translate1 }}</li>
            <li>{{ "Resume.phn" | translate1 }}</li>
            <li>{{ "Resume.mail" | translate1 }}</li>
          </ul>
        </div>

        <h3 class="resume-title">{{ "Education.Education" | translate1 }}</h3>
        <div class="resume-item">
          <h4>{{ "Education.Education1" | translate1 }}</h4>
          <h5>2020 - 2024</h5>
          <p>
            <em>{{ "Education.Education11" | translate1 }}</em>
          </p>
          <p>{{ "Education.Education111" | translate1 }}</p>
          <p>
            <a href="https://esprit.tn/" target="_blank" class="sitelink">{{
              "Education.WebSite" | translate1
            }}</a>
          </p>
        </div>
        <div class="resume-item">
          <h4>{{ "Education.Education2" | translate1 }}</h4>
          <h5>2012 - 2015</h5>
          <p>
            <em>{{ "Education.Education22" | translate1 }}</em>
          </p>
          <p>{{ "Education.Education222" | translate1 }}</p>
          <p>
            <a href="https://enit.rnu.tn/" target="_blank" class="sitelink">{{
              "Education.WebSite" | translate1
            }}</a>
          </p>
        </div>
        <div class="resume-item">
          <h4>{{ "Education.Education3" | translate1 }}</h4>
          <h5>2010 - 2012</h5>
          <p>
            <em>{{ "Education.Education33" | translate1 }}</em>
          </p>
          <p>{{ "Education.Education333" | translate1 }}</p>
          <p>
            <a href="https://ipein.rnu.tn/" target="_blank" class="sitelink">{{
              "Education.WebSite" | translate1
            }}</a>
          </p>
        </div>

        <h3 class="resume-title">{{ "Cert.Title" | translate1 }}</h3>

        <div class="resume-item">
          <h4>{{ "Cert.Cert3Title" | translate1 }}</h4>
          <h5>{{ "Cert.Cert3Date" | translate1 }}</h5>
          <p>
            <em>
              <a
                href="https://hub4africa.bayern/"
                target="_blank"
                class="sitelink"
              >
                {{ "Cert.Cert3Issuer" | translate1 }}
              </a>
            </em>
          </p>
          <p>{{ "Cert.Cert3Desc" | translate1 }}</p>
          <ul>
            <li>{{ "Cert.Cert3Skills" | translate1 }}</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>{{ "Cert.Cert1Title" | translate1 }}</h4>
          <h5>{{ "Cert.Cert1Date" | translate1 }}</h5>
          <p>
            <em>
              <a
                href="https://www.academy.inco-group.co/fr"
                target="_blank"
                class="sitelink"
              >
                {{ "Cert.Cert1Issuer" | translate1 }}
              </a>
              |
              <a
                href="https://www.coursera.org/account/accomplishments/specialization/F0OU3RR0AUUJ"
                target="_blank"
                class="sitelink"
              >
                {{ "Cert.Credential" | translate1 }}
              </a>
            </em>
          </p>
          <p>{{ "Cert.Cert1Desc" | translate1 }}</p>
          <ul>
            <li>{{ "Cert.Cert1Skills" | translate1 }}</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>{{ "Cert.Cert2Title" | translate1 }}</h4>
          <h5>{{ "Cert.Cert2Date" | translate1 }}</h5>
          <p>
            <em>
              <a
                href="https://gomycode.com/tn/fr/"
                target="_blank"
                class="sitelink"
              >
                {{ "Cert.Cert2Issuer" | translate1 }}
              </a>
              |
              <a
                href="https://diploma.gomycode.app/?id=31754737233580347"
                target="_blank"
                class="sitelink"
              >
                {{ "Cert.Credential" | translate1 }}
              </a>
            </em>
          </p>
          <p>{{ "Cert.Cert2Desc" | translate1 }}</p>
          <ul>
            <li>{{ "Cert.Cert2Skills" | translate1 }}</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6">
        <h3 class="resume-title">{{ "Exp.Exp" | translate1 }}</h3>

        <div class="resume-item">
          <h4>{{ "Exp.Exp3" | translate1 }}</h4>
          <p>
            <em>{{ "Exp.Exp33" | translate1 }}</em>
          </p>
          <h5>{{ "Exp.Exp3Date" | translate1 }}</h5>
          <p>
            <em>
              <a
                href="https://www.facebook.com/centre.Digital.Arts"
                target="_blank"
                class="sitelink"
              >
                {{ "Exp.Exp333" | translate1 }}
              </a>
              {{ "Exp.Exp3333" | translate1 }}
            </em>
          </p>
          <ul>
            <li>{{ "Exp.Exp3Desc1" | translate1 }}</li>
            <li>{{ "Exp.Exp3Desc2" | translate1 }}</li>
            <li>{{ "Exp.Exp3Desc3" | translate1 }}</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>{{ "Exp.Exp4" | translate1 }}</h4>
          <p>
            <em>{{ "Exp.Exp44" | translate1 }}</em>
          </p>
          <h5>{{ "Exp.Exp4Date" | translate1 }}</h5>
          <p>
            <em>
              <a
                href="https://www.linkedin.com/company/i-a%C2%B2-team/posts/?feedView=all"
                target="_blank"
                class="sitelink"
              >
                {{ "Exp.Exp444" | translate1 }}
              </a>
              {{ "Exp.Exp4444" | translate1 }}
            </em>
          </p>
          <ul>
            <li>{{ "Exp.Exp4Desc1" | translate1 }}</li>
            <li>{{ "Exp.Exp4Desc2" | translate1 }}</li>
            <li>
              <strong>{{ "Exp.Technologies" | translate1 }}</strong
              >{{ "Exp.Exp4Techs" | translate1 }}
            </li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>{{ "Exp.Exp1" | translate1 }}</h4>
          <p>
            <em>{{ "Exp.Exp11" | translate1 }} </em>
          </p>
          <h5>Jan.2022 - Jul.2022</h5>
          <p>
            <em>
              <a
                href="https://www.gdcollect-data.fr/"
                target="_blank"
                class="sitelink"
                >{{ "Exp.Exp111" | translate1 }}</a
              >
              {{ "Exp.Exp1111" | translate1 }}
            </em>
          </p>
          <ul>
            <li>
              <strong>{{ "Exp.Exp1Titel" | translate1 }}</strong
              >{{ "Exp.Exp1SubTitel" | translate1 }}
            </li>
            <li>{{ "Exp.Exp1Desc1" | translate1 }}</li>
            <li>{{ "Exp.Exp1Desc2" | translate1 }}</li>
            <li>
              <strong>{{ "Exp.Technologies" | translate1 }}</strong
              >{{ "Exp.Exp1Techs" | translate1 }}
            </li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>{{ "Exp.Exp2" | translate1 }}</h4>
          <p>
            <em>{{ "Exp.Exp22" | translate1 }} </em>
          </p>
          <h5>Jul.2021 - Sep.2021</h5>
          <p>
            <em>
              <a
                href="https://www.xtensus.com/"
                target="_blank"
                class="sitelink"
                >{{ "Exp.Exp222" | translate1 }}</a
              >
              {{ "Exp.Exp2222" | translate1 }}
            </em>
          </p>
          <ul>
            <li>
              <strong>{{ "Exp.Exp2Titel" | translate1 }}</strong
              >{{ "Exp.Exp2SubTitel" | translate1 }}
            </li>
            <li>{{ "Exp.Exp2Desc1" | translate1 }}</li>
            <li>{{ "Exp.Exp2Desc2" | translate1 }}</li>
            <li>
              <strong>{{ "Exp.Technologies" | translate1 }}</strong
              >{{ "Exp.Exp2Techs" | translate1 }}
            </li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>{{ "Exp.Exp5" | translate1 }}</h4>
          <p>
            <em>{{ "Exp.Exp55" | translate1 }}</em>
          </p>
          <h5>{{ "Exp.Exp5Date" | translate1 }}</h5>
          <p>
            <em>
              <a
                href="https://www.facebook.com/profile.php?id=100070101966569"
                target="_blank"
                class="sitelink"
              >
                {{ "Exp.Exp555" | translate1 }}
              </a>
              &
              <a
                href="https://www.facebook.com/Auto.Diag.Plus"
                target="_blank"
                class="sitelink"
              >
                {{ "Exp.Exp555_2" | translate1 }}
              </a>
              {{ "Exp.Exp5555" | translate1 }}
            </em>
          </p>
          <ul>
            <li>{{ "Exp.Exp5Desc1" | translate1 }}</li>
            <li>{{ "Exp.Exp5Desc2" | translate1 }}</li>
            <li>{{ "Exp.Exp5Desc3" | translate1 }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
